PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/enterprise_lms
JWT_ACCESS_SECRET=super_secret_access_key_123_456_789_abc_def_xyz
JWT_REFRESH_SECRET=super_secret_refresh_key_987_654_321_zyx_wvu_tsr
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d
CLOUDINARY_CLOUD_NAME=mock_cloud
CLOUDINARY_API_KEY=mock_key
CLOUDINARY_API_SECRET=mock_secret
CORS_ORIGIN=http://localhost:5173
